.App {
  
}

.App-logo {
  height: 15vmin;
  max-width: 15vmin;
  
  
  pointer-events: none;
}

.App-logo2 {
  height: 100vmin;
  
  
  
  pointer-events: none;

  
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.Property-images {
  max-width: 30vmin
}

.properties-container {
  width: 65%;
}




.flex-container {
  display: flex;

}

.App-header {
  background-color: #000000;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10px;
  
}

.App-link {
  color: #61dafb;
}

#App-nav{
  text-align: center;
}


.HomePage {

  
  background-color: #2e2e2e;
 
}

.homeHeading {

  
 
  color: #fbfbfa;
  text-align: center;
  
 
}
.MainPages {

  
  background-color: #c5c4c4;
  padding: 25px;
 
}

.valueList{

  
  background-color: #0d0c01;
  color: #fbfbfa;
}

.value1 {

  
    background-color: #f9e637;
}

.value2 {

  
  background-color: #fe25fa;
}

.value3 {

  
  background-color: #7272ef;
}

.value4 {

  
  background-color: #37f94e;
}

.value5 {

  
  background-color: #fa3f11;
}

