.App {
  
}

.App-logo {
  height: 15vmin;
  max-width: 15vmin;
  
  
  pointer-events: none;
}

.App-logo2 {
  height: 100vmin;
  
  
  
  pointer-events: none;
}


.Property-images {
  max-width: 30vmin
}


.App-header {
  background-color: #000000;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10px;
  
}

.App-link {
  color: #61dafb;
}

#App-nav{
  text-align: center;
}


